/* Navbar.css */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
.colour {
  color: #ffffff;
}

.font-style2 {
  font-family: "jost";
  font-weight: 500;
  font-size: 24px;
  line-height: 33.6px;
}

.font-style {
  font-family: "jost";
  font-weight: 500;
  font-size: 0.83vw;
  line-height: 22.4px;
}
.font-style1 {
  font-family: "jost";
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 22.4px;
}

.h3-heading {
  color: #8f8f8f;
  font-family: "jost";
  font-weight: 500;
  font-size: 2vw;
}
.blue {
  color: #64aadd;
}
.middle {
  text-align: center;
  width: 50vw;
  margin: auto;
  margin-top: 4vw;
}
.hOME-4-HEADING {
  margin-top: 10vw;
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
  .h3-heading {
    font-size: 2.5vw;
  }
  .hOME-4-HEADING {
    margin-top: 8.5vw;
  }
}
@media screen and (max-width: 450px) {
  .hOME-4-HEADING {
    margin-top: 6vh;
  }
}

/* footer */

.low {
  display: none;
}
