@media screen and (max-width: 450px) {
  .h3-heading {
    width: 130px;
    height: 22px;
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
  }
  .middle {
    width: 100vw;
    text-align: center;
  }
  /* HOME-3 CSS*/

  .width-home4 {
    width: 300px;
    margin: auto;
    height: 25px;
    /* border: 2px solid red; */
  }

  /* //css */

  /* home5 */

  .high {
    display: none;
  }
  .low {
    display: inline-block;
    /* border: 2px solid red; */
  }
}
